
/*Scrollbar Styling*/

.glass-card {
    background: rgba(28, 25, 23, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #0c0a09; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #F97316; }
.selection-apricot::selection {
    background-color: #F97316;
    color: white;
}


/*Main Navigation*/
.nav-active-home {
    color: #fafaf9;
    font-weight: 600;
}

.nav-active-about {
    color: #F97316;
    font-weight: 700;
}

.nav-active-contact {
    color: #F97316;
    font-weight: 700;
}

/*Contact Form */
.peer:placeholder-shown ~ .floating-label {
    top: 1rem;
    font-size: 1rem;
    color: #a8a29e;
}
.peer:focus ~ .floating-label,
.peer:not(:placeholder-shown) ~ .floating-label {
    top: -0.75rem;
    font-size: 0.75rem;
    color: #F97316;
    background-color: #1c1917;
    padding: 0 0.25rem;
}